<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div class="row">
        <div class="col-1">
            <button class="btn btn-secondary button" @click="add">Add</button>
        </div>

        <div class="col-7">
            <h3>Draggable {{ draggingInfo }}</h3>

            <draggable tag="ul" :list="list" class="list-group" handle=".handle">
                <li
                        class="list-group-item"
                        v-for="(element, idx) in list"
                        :key="element.name"
                >
                    <i class="fa fa-align-justify handle"></i>

                    <span class="text">{{ element.name }} </span>

                    <input type="text" class="form-control" v-model="element.text" />

                    <i class="fa fa-times close" @click="removeAt(idx)"></i>
                </li>
            </draggable>
        </div>

        <rawDisplayer class="col-3" :value="list" title="List" />
    </div>
</div>
<script>
    import draggable from 'vuedraggable'
    const app = new Vue({
        el: '#app',
        components:{
          draggable
        },
        data: {
            message: 'Hello Vue!',
            list: [
                { name: "John", text: "", id: 0 },
                { name: "Joao", text: "", id: 1 },
                { name: "Jean", text: "", id: 2 }
            ],
            dragging: false
        },
        computed: {
            draggingInfo() {
                return this.dragging ? "under drag" : "";
            }
        },
        methods: {
            removeAt(idx) {
                this.list.splice(idx, 1);
            },
            add: function() {
                id++;
                this.list.push({ name: "Juan " + id, id, text: "" });
            }
        }
    })
</script>
</body>
</html>
